:root{
    --dark:#33313B;
    --primary:#F9AB30;
    --light:#F9FAFB;
    --white:#fff;
    --txt-color:#333333;
    --light-txt-color: #A1A1A1;
}
@font-face{
    font-family: 'Vazir';
    src: url('../font/Vazir.eot');
    src: url('../fonts/vazir-font-v16.1.0/Vazir.ttf') format('truetype');
    src: url('../fonts/vazir-font-v16.1.0/Vazir.woff') format('woff');
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
}
body{
    font-family: 'Vazir';
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--white);
}
.else-nav{
    width: 100%;
    background-color: var(--dark);
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: center;
}
.else-nav a{
    margin: 0 2rem;
    transition: all .3s;
    color: var(--white);
}
.else-nav a i{
    font-size: 1.1rem;
}
.else-nav a:hover .mn{
    color: var(--primary);
}
.btn{
    background-color:var(--primary)!important;
    color: var(--white)!important;
    padding: 0.6rem 1rem;
    border-radius: 20px;
}
.btn:hover{
    color: var(--white);
}
::-webkit-scrollbar{
    display: none;
}

/* --------------- Header ------------- */
.head{
    background-image: url(../images/bg-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
}
.logo{
    color: var(--white);
    background-color: var(--dark);
    padding: 0.4rem;
    user-select: none;
}
.logo h1,
.logo h2{
    padding: 0;
    margin: 0;
    line-height: 30px;
    text-align: center;
    font-size: 1.25rem;
}
.menu{
    background-color: var(--dark);
    border-radius: 25px;
}
.menu-item{
    font-weight: 500;
    font-size: 1.2rem;
    padding: .8rem 1.4rem;
    border-radius: 25px;
    margin: 0 0.8rem;
    transition: all 0.3s ease;
    position: relative;
}
.menu-item:hover{
    color: var(--white);
    font-style: italic;
}
.menu-item:last-of-type{
    margin-left: 0;
}
.menu-item:first-of-type{
    background-color: var(--primary);
    margin-right: 0;
}
.intro-content >*{
    color: var(--white);
    padding: .8rem 0;
    text-align: center;
}
.intro-content p{
    font-size: 1.2rem;
}
.intro-content h2{
    font-size: 1.2rem;
}
.order-form{
    background-color: var(--dark);
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.order-form input{
    border: 0;
    outline: none;
    color: var(--white);
    background-color: transparent;
    padding: .4rem .4rem;
    text-align: center;
    margin-top: 0.4rem;
}
.order-form input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.icon-btn{
    cursor: pointer;

}
.icon-btn > *{
   display: inline;
}
.icon{
    color: var(--white);
    display: block;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-right: 5%;
}
 @media (min-width: 991.98px){
    header{
        background-color: transparent;
        padding: 0;
        margin: 0;
    }
    .order-form input{
        margin: 0 0.6rem;
        padding: 0.8rem 0.6rem;
        background-color: rgba(255, 255, 255, 0.2);
    }
 }
 /* ------------------------------------- Services ----------------------------------- */
.app{
    background-color: var(--light);
}
.services h1{
    font-size: 2rem;
}
.services h1,
.services h3{
    color: var(--txt-color);
}
.services h3{
    font-size: 1rem;
}
.topics p{
    font-size: .6rem;
}
.services p{
    color: var(--light-txt-color);
    font-size: 1rem;
}
.describe h1,
.describe p{
    text-align: right;
    line-height: 2rem;
}
.describe h1{
    line-height: 2.6rem;
}

.describe,
.topics{
    padding: 0 1rem;
}

.topics{
    margin-top: 2rem;
    text-align: center;
}
.topics p{
    padding: 0 2rem;
    text-align: center;

}

.live-icon{
    height: 100px;
    width: 100px;
}
@media (min-width: 768px) { 
    .topics{
        grid-template-columns: auto auto;
        column-gap: 20px;
        width: 50%;
    }
    .describe{
        width: 50%;
        margin-top: 5rem;
    }
    .topics p{
        padding: 0;
    }
 }
/* -------------------------- Banners ------------------------ */
.header{
    text-align: center;
}
.banner-container{
    width: 100%;
  
}
.banner-item{
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-bottom: .4rem;
}
.banner-item img{
    border-radius: 10px;
    width: 100%;
}
.banner-name{
    border: 0;
    outline-width: 0;
    background-color: var(--dark);
    color: var(--white);
    font-size: 14px;
    border-radius: 10px 0 0 10px;
    padding: .4rem .6rem;
    position: absolute ;
    width: 130px;
    right: 0;
    bottom: 3rem;
    transition: all 0.3s;
}
.banner-item:hover .banner-name{
    background-color: var(--primary);
    width: 150px;
    color: var(--dark);
}
@media (min-width: 768px) { 
    .banner-container{
        grid-template-columns: auto auto;
        column-gap: 15px;
        row-gap: 15px;
    }
    .banner-item{
        width: 100%;
    }
}
@media (min-width: 992px){
    .banner-container{
        grid-template-columns: auto auto auto auto;
    }
}
/* --------------- last projects -------------*/
.logo-item a{
    border-radius: 100%;
    width: auto;
}
.logo-item img{
    border-radius: 100%;
    width: 150px;
    margin: 0 2rem;
}
.logo-item{
    transition: all .3s;
    margin: 0.4rem 0;
}
.logo-item:hover{
    transform: scale(1.2);
}
/* ------------ comments -------------- */
.comments{
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.comment-header{
    color: var(--white);
}
.cards p{
    font-size: 17px;
    color: var(--txt-color);
}
.cards h5{
    font-size: 16px;
}
.cards h6{
    font-size: 14px;
    color: var(--light-txt-color);
}
.card-item{
    width: 30%;
    background-color: var(--white);
    padding: .6rem .9rem;
    border-radius: 15px;
    transition: all 0.3s;
}
.card-item:hover{
    /* transform: translateY(-10px); */
    transform: scale(1.03);
}
.profile img{
    width: 100px;
    border-radius: 50%;
}
@media (max-width: 767.98px){
    .cards{
        flex-direction: column;
    }
    .card-item{
        width: 100%;
        margin-bottom: 0.6rem;
    }
}
/* ------------ social networks ----------- */
.social-network > *{
    text-align: center;
}
.social-network h4{
    font-size: 1.2rem;
}
.social-icon{
   font-size: 30px;
   color: var(--dark);
   margin: 1rem 0.8rem;
   transition: all .2s;
}
.social-icons a:hover .social-icon{
    color: var(--primary);
}
/* --------- copy-right -----------*/
.copy-right{
    background-color: var(--dark);
}
.copy-right p{
    text-align: center;
    color: var(--white);
    margin: 0;
    line-height: 30px;
}
